VITE_SUPABASE_URL=https://ozkbnimjuhaweigscdby.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_RUrP57nzySyHEtGsxwshZg_EyZDPLwh
VITE_RUNPOD_FACESWAP_URL=your_runpod_faceswap_url_here
VITE_RUNPOD_API_KEY=your_runpod_api_key_here
